<launch>
  <arg name="tb1ns" />
  <arg name="tb2ns" />
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <include file="$(find turtlebot3_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg model)" />
  </include>

  <group ns="$(arg tb1ns)">
	  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
	    <param name="publish_frequency" type="double" value="50.0" />
	  </node>
  </group>

  <group ns="$(arg tb2ns)">
	  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
	    <param name="publish_frequency" type="double" value="50.0" />
	  </node>
  </group>
</launch>
